{% if isAdmin == true %}
<li class="dropdown">
    <a href="#"
       class="dropdown-toggle"
       data-toggle="dropdown">
        User
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/user/read">List</a></li>
    </ul>
</li>
{% endif %}
{% if isRoot == true %}
<li class="dropdown">
    <a href="#"
       class="dropdown-toggle"
       data-toggle="dropdown">
        User
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/user/read">List</a></li>
    </ul>
</li>
{% endif %}