{% if isRoot == true %}
<li class="dropdown">
    <a href="#"
       class="dropdown-toggle"
       data-toggle="dropdown">
        Account
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/account/read">Admin</a></li>
    </ul>
</li>
{% endif %}