<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link
            href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css"
            rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet"
              type="text/css" />
        <script src="/js/components/require/require.js"></script>
        <script type="text/javascript">
            require(["/js/components/main.js"], function(main) {
                require(["/js/view/account/accountList.js"], function(module) {
                    module.init();
                });
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Bank application</a>
                    <ul class="nav">
                        {% include 'fragments/adminMenu.html' %}
                        {% include 'fragments/rootMenu.html' %}
                    </ul>
                    {% include 'fragments/logoutFragment.html' %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span4 offset3">
                    <form class="form-search" id="searchForm">
                        <div class="input-append" id="searchInput">
                            <input type="text" name="query" class="span2 search-query" />
                            <button type="submit" class="btn" id="searchButton">Search</button>
                        </div>
                </div>
                <div class="span5">
                    <h4>Account list</h4>
                </div>
            </div>
            <div class="span9 offset3">
                <div class="row">
                    <div class="span9">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Owner</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr data-id="{{ account.id }}">
                                    <td>{{ account.owner.name }}</td>
                                    <td>
                                        <button data-id="{{ account.id }}" class="btn btn-mini"
                                                data-action="edit"><i
                                                data-id="{{ account.id }}" data-action="edit" class="icon-edit"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pager">
                        <li {% if hasBeforePage== false %}
                            class="disabled"{% endif %}
                            ><a
                                href="{{ beforePage }}">Before</a></li>
                        <li {% if hasNextPage== false %}
                            class="disabled"{% endif %}
                            ><a
                                href="{{ nextPage }}">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

