<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link
            href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css"
            rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet"
              type="text/css" />
        <script src="/js/components/require/require.js"></script>
        <script type="text/javascript">
            require(["/js/components/main.js"], function(main) {
                require(["/js/view/admin/userList.js"], function(module) {
                    module.init();
                });
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Bank application</a>
                    <ul class="nav">
                        {% include 'fragments/adminMenu.html' %}
                        {% include 'fragments/rootMenu.html' %}
                    </ul>
                    <div class="pull-right">
                        {% include 'fragments/logoutFragment.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span4 offset3">
                    <button class="btn" type="submit" id="addUserButton">Add user</button>
                </div>
                <div class="span4">
                    <h4>User list</h4>
                </div>
            </div>
            <div class="row">
                <div class="span9 offset3">
                    <div class="row">
                        <div class="span9">
                            <table class="table table-striped table-hover">
                                <!--
                                <caption>
                                    <h4>User list</h4>
                                </caption>
                                -->
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Role</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterate the user list-->
                                    {% for user in users %}
                                    <tr data-id="{{ user.id }}">
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.roleString }}</td>
                                        <td>
                                            <button data-id="{{ user.id }}" class="btn btn-mini"
                                                    data-action="delete"><i
                                                    data-id="{{ user.id }}" class="icon-fire" data-action="delete"></i>
                                            </button>
                                            <button data-id="{{ user.id }}" class="btn btn-mini"
                                                    data-action="edit"><i
                                                    data-id="{{ user.id }}" data-action="edit" class="icon-edit"></i></button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <!-- End the user iteration-->
                                </tbody>
                            </table>
                        </div>
                        <!-- Pagination  -->
                        <ul class="pager">
                            <li {% if hasBeforePage== false %}
                                class="disabled"{% endif %}
                                ><a
                                    href="{{ beforePage }}">Before</a></li>
                            <li {% if hasNextPage== false %}
                                class="disabled"{% endif %}
                                ><a
                                    href="{{ nextPage }}">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

