/**
 * This hack is used in bootstrap to separate 
 * a fixed top bar from the body
 */
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
@media (max-width: 980px) {
/* Enable use of floated navbar text */
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
}
}
/**
 * Hack to center the text inside a div 
 */
my-text-center{
    text-align:center
}
/**
 * Hack to hide the div in the htnl
 */
.notVisible{
    display:none;
}