<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link
            href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css"
            rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet"
              type="text/css" />
        <script src="/js/components/require/require.js"></script>
        <script type="text/javascript">
            require(["/js/components/main.js"], function(main) {
            });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Bank application</a>
                    <ul class="nav">
                    </ul>
                    <div class="pull-right">
                        {% include 'fragments/logoutFragment.html' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
            </div>
            <div class="row">
                <div class="span9 offset3">
                    <div class="row text-error">
                        <h4>Page 505 internal servel error
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

