<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ app.request.basepath }}/js/components/jquery/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/components/bootstrap/js/bootstrap.js"></script>
    <link href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="row span5 offset5">
            <h2>Login</h2>
        </div>
        <div class="row span5 offset3">
            <form class="form-horizontal"
            action="/do-login"
            method="post"
            >
                <div class="control-group">
                    <label class="control-label" for="user">User</label>
                    <div class="controls">
                        <input type="text" id="user" name="user" placeholder="User">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <div class="controls">
                        <input type="password" id="inputPassword" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>


