<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Bootstrap, from Twitter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="/js/components/require/require.js"></script>
        <script type="text/javascript">
            require(["/js/components/main.js"], function(main) {
                require(["/js/view/user/main.js"], function(module) {
                    $(function() {
                        module.init();
                    })
                });
            });

        </script>
        <link href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div
            id="information"
            data-user-id="{{ user.id }}"
            data-account-id="{{ personalAccount.id }}"
            class="notVisible"></div>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Bank application</a>
                    {% include 'fragments/logoutFragment.html' %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <ul class="nav nav-list">
                            <li class="nav-header">My accounts</li>
                            <li class="active"><a href="#">Personal</a></li>
                        </ul>
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">
                    <div class="row">
                        <div class="span9">
                            <form class="form-horizontal">
                                <h2 class="my-text-center">Account</h2>
                                <div class="control-group">
                                    <label class="control-label" for="balance">Balance</label>
                                    <div class="controls">
                                        <span
                                            class="input uneditable-input"
                                            name="balance"
                                            id="balance"
                                            >{{ personalAccount.balance }}</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="operation">Operation</label>
                                    <div class="controls">
                                        <select name="operation" id="operation">
                                            <option value="DEBIT">Debit</option>
                                            <option value="CREDIT">Credit</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="amount">Amount</label>
                                    <div class="controls">
                                        <input type="text" id="amount" placeholder="Amount" name="amount">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <button type="submit" name="execute" id="executeButton" class="btn">Execute operation</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>


-->