<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ app.request.basepath }}/js/components/jquery/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/components/bootstrap/js/bootstrap.js"></script>
    <link href="{{ app.request.basepath }}/js/components/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="{{ app.request.basepath }}/css/hacks.css" rel="stylesheet" type="text/css" />

    <script src="/js/components/require/require.js"></script>
    <script type="text/javascript">
    require(["/js/components/main.js"], function(main) {
        require(["/js/view/user/form.js"], function(module) {
            module.init();
        });
    });
    </script>
</head>
<body>
    <div class="notVisible" 
        id="information" 
        data-id={{ userId }}
        data-name={{ name }}
        data-role={{ role }}
        data-foo="sample"
        >
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="#">Bank application</a>
        <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                <a href="/do-logout" class="navbar-link pull-right">Logout</a>
            </p>
            <!--
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        -->
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="span3">
            <!--
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">My accounts</li>
                    <li><a href="#" class="active">My account</a></li>
                </ul>
            </div>
        -->
    </div>
    <div class="span9">
        <div class="row">
            <form class="form-horizontal"
            action="/user/create"
            method="post"
            >
            <legend>User form</legend>
            <input type="hidden" name="mode" value="{{ mode }}">
            <input type="hidden" name="userId" value="{{ userId }}">
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input type="text" id="name" name="name" placeholder="Name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="passwordAgain">Password again</label>
                <div class="controls">
                    <input type="password" id="passwordAgain" name="passwordAgain" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type" name="type">Type</label>
                <div class="controls">
                    <select name="role">
                        <option value="ROLE_USER">User</option>
                        <option value="ROLE_ADMIN">Admin</option>
                        <option value="ROLE_ROOT">Root</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Create</button>
                    <button type="submit" class="btn">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
</body>
</html>

